@font-face {
  font-family: fontBold;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Black.otf);
}
@font-face {
  font-family: font;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Regular.otf);
}
@font-face {
  font-family: fontMedium;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Medium.otf);
}
@font-face {
  font-family: fontLight;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Light.otf);
}
@font-face {
  font-family: fontExtraLight;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-UltraLight.otf);
}
@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  font-family: font;
  width: 100%;
  min-height: 100vh;
}

header {
  /* colocar position fixed: */
  /* Se coloco z index para que se encuentre sobre los elementos */
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  font-family: fontLight;

}
.header1 {
  transition: all 0.5s;
}
.header1 ul{
  display: grid;
  align-items: center;
  padding: 20px;
  list-style: none;
  grid-template-columns: 2fr 5fr 2fr auto 5fr;
  grid-template-areas: ". logo search button operations";
}
.header1--logo {
  grid-area: logo;
  width: 220px;
  height: 55px;
  background: url('../img/Logotipo-1.png') no-repeat;
  background-size: cover;
}
.header1--search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 33px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;

}
.fa-search {
  font-size: 1.5rem;
}
.header1--search input {
  border: none;
  outline: none;
}

.header1--button {
  grid-area: button;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ab3c4;
  height: 33px;
  border-radius: 5px;
  margin-left: 30px;
}
.header1--button a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.8rem;
}
.operations {
  grid-area: operations;
  width: 250px;
  margin-left: 50px;
}

.header a {
  text-decoration: none;
  color: #f1f1f1;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(275deg, rgba(83,70,130,1) 0%, rgba(26,177,194,1) 26%);
}

.header--menu-main {
  height: 30px;
  margin-right: 200px;
  list-style: none;
  display: flex;
}
.header {
  display: flex;
  padding: 2px 0px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  transition: all .5s;
}
.header li {
  position: relative;
  margin-left: 20px;
  color:white;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.menu-item:not(:first-child):before {
  content: "|";
  margin-right: 20px;
}
.logo-white {
  width: 100%;
  display: block;
}

.logotipo {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-left: 100px;
}

/* estilos del submenu */
.submenu {
  position: absolute;
  top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  display: block;
  background: linear-gradient(90deg, rgba(83,70,130,1) 0%, rgba(26,177,194,1) 26%);
  list-style: none;
  display: none;
}

.submenu li {
  padding:8px;
  margin-left: 8px;
  font-family: fontLight;
}

/* .header li a:hover {
  background-color: rgba(0, 0, 0, .3);
} */

.submenu li a {
  padding-left: 15px;
}

.submenu li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  height: 1px;
  background: linear-gradient(313deg, rgba(255,255,255,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
}

/* visualizacion del submenu */
li:hover > ul {
  display: block;
  z-index: 999999;
}

/* estilos del hero */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  background: url(../img/hero.jpg) no-repeat;
  filter: contrast(180%);
  background-size: 110%;
  height: 55%;
  margin-top: 100px;
}
.hero--container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: rgb(26,177,194);
  background: linear-gradient(97deg, rgba(26,177,194,.3) 0%, rgba(83,70,130,.5) 100%);
  width: 100%;
  height: 100%;
}

.hero--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

.hero--box {
  width: 70%;
  margin-top: 60px;
  height: 60%;
  display: flex;
  justify-content: space-between;
}
.hero--container-title {
  position: relative;
  font-size: 6rem;
  font-weight: 400;
  line-height: 60px;
  color:white;
  z-index: 1;
}
.hero--container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero--container-content p{
  position: relative;
  color:white;
  font-size: 5rem;
  font-family: fontMedium;
  line-height: 40px;
  z-index: 1;
}

.hero--container-content p::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: -25px;
  width: 90px;
  height: 8px;
  background: linear-gradient(90deg, rgba(83,70,130,1) 0%, rgba(27,176,194,1) 100%);
}

.hero--container-content p::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 250px;
  height: 8px;
  background: linear-gradient(90deg, rgba(83,70,130,1) 0%, rgba(27,176,194,1) 100%);
}

.hero--container-content .content-description {
  font-family: fontLight;
  font-size: 3.2rem;
}

.title-bold {
  font-weight: 700;
}

.container {
  width: 100%;
  margin-top: 80px;
}

.hero--container-button{
  width: max-content;
  position: relative;
  font-size: 1.8rem;
  padding:5px 10px;
  margin-top: 40px;
  border-radius: 5px;
  color:#573c3c;
  text-decoration: none;
  z-index: 1;
  background: white;
}

/* estilos de la seccion servicios */
.servicios__main {
  width: 80%;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas: "indicators servicios";
  justify-items: center;
  align-items: center;
  margin:60px auto;
  
}

.servicios__slider {
  grid-area: servicios;
}

.servicios {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 4fr 4fr;
  grid-template-areas: "image description";
  column-gap: 20px;
}

.inidicators {
  grid-area: indicators;
  display: grid;
  grid-template-columns: auto;
}

.inidicators .indicator {
  height: 13px;
  width: 13px;
  padding: 0;
  background-color: rgb(146, 145, 145);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.inidicators .active {
  background-color: rgb(73, 73, 73);
}

.inidicators .indicator:hover .active {
  background-color: rgb(73, 73, 73);
}


.image {
  grid-area: image;
  position: relative;
  width: max-content;
  font-size: 75rem;
  line-height: 60rem;
  font-weight: 700;
}

.image p {
  position: relative;
  cursor: default;
  font-family: fontBold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(15, 67, 73, 0.424);
  background-repeat: no-repeat;
}

.bkg1 p{
  background-image: url('../img/nuestrosServicios1.jpg');
  background-size: 160%;
  background-position: right;
}

.bkg2 p{
  background-image: url('../img/pexels-fauxels-3184292.jpg');
  background-size: 200%;
  background-position: right;
}

.bkg3 p{
  background-image: url('../img/beautiful-female-women-driver-sitting-her-vehicle-holding-car-keys-ready-drive.jpg');
  background-size: cover;
  background-position: center;
}

.bkg4 p{
  background-image: url('../img/coin-on-wooden-table.jpg');
  background-size: cover;
  background-position: center;
}

.bkg5 p{
  background-image: url('../img/handshake-close-up-executives.jpg');
  background-size: cover;
  background-position: right;
}

.bkg6 p{
  background-image: url('../img/home-improvement-kitchen-view-installed-new-kitchen-cabinet.jpg');
  background-size: 210%;
  background-position: right;
}

.bkg7 p{
  background-image: url('../img/real-estate-agent-hand-giving-house-keys-house-buyer.jpg');
  background-size: cover;
  background-position: right;
}

.description {
  grid-area: description;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description h2{
  width: max-content;
  position: relative;
  font-size: 6.5rem;
  line-height: 65px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgba(83,70,130,1) 0%, rgba(27,176,194,1) 100%);
}
.description h2::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: -20px;
  width: 90px;
  height: 8px;
  background: linear-gradient(275deg, rgba(83,70,130,1) 35%, rgba(27,176,194,1) 100%);
}

.description .services {
  font-size: 6.5rem;
  font-family: fontMedium;
  background-image: linear-gradient(90deg, rgba(83,70,130,1) 0%, rgba(27,176,194,1) 100%);
}

.description span {
  width: max-content;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(275deg, rgba(83,70,130,1) 0%, rgba(26,177,194,1) 26%);
}

.description p {
  width: 70%;
  font-family: fontLight;
  color:#4d4d4d;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.description a {
  width: max-content;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 2rem;
  color:#f1f1f1;
  border-radius: 5px;
  background: #534784;
}


/* Estilos del section: conocenos */

.conocenos__img img{
  width: 250px;
}

.conocenos{
  width: 80%;
  margin:auto;
  height: calc(100vh - 78px);
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}

.conocenos__info{
  width: 50%;
  height: 100%;
}
.conocenos__img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img1 img2"
                       "img3 img3"
                       "img4 img5";
  width: 50%;
  height: 100%;
}
.img1 {
  grid-area: img1;
  background: url('../img/executive-business-woman-in-an-office.jpg');
  background-size: cover;
}
.img2 {
  grid-area: img2;
  background: url('../img/smiling-african-american-cashier-sitting-at-checkout.jpg');
  background-size: cover;
}
.img3 {
  grid-area: img3;
  background: url('../img/businesswomen-looking-at-speaker-with-papers.jpg');
  background-size: cover;
  background-position: center;

}
.img4 {
  grid-area: img4;
  background: url('../img/shopkeeper-grocery-store.jpg');
  background-size: cover;
}
.img5 {
  grid-area: img5;
  background: url('../img/young-couple-buying-car-in-car-showroom.jpg');
  background-size: cover;
}
.conocenos .description{
  min-width: 100%;
  margin-top: 20px;
}
.conocenos__info .description {
  width: 100%;
  height: 100%;
}
.conocenos .description h2{
  line-height:normal;
  height: 100px;
  font-family: fontMedium;
  font-size: 8rem;
}
.description .conocenos__texto{
  min-width: 100%;
  height: auto;
  overflow-y: scroll;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 40px;
  padding-right: 30px;
}

.noticias {
  width: 80%;
  margin:auto;
  height: 80%;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "description"
                       "entradas";
  margin-bottom: 150px;
}
.noticias .description {
  width: 100%;
  height: 100px;
  flex-direction: row;
}

.noticias .description h2 {
  margin-bottom: 0px;
}

.noticias .entradas {
  grid-area: entradas;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "i1 i2 i4"
                       "i1 i3 i4";
  height: 40vh;
  min-height: 450px;
}

.i1 {
  grid-area: i1;
  display: flex;
  align-items: flex-end;
  padding:30px 35px;
  background: url('../img/pexels-burst-374016.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  transition: all 2s;
}

.i2 {
  grid-area: i2;
  background: url('../img/pexels-karolina-grabowska-5632379.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.i3 {
  grid-area: i3;
  background: url('../img/pexels-fauxels-3184291.jpg');
  background-size: cover;
}

.i4 {
  grid-area: i4;
  background: url('../img/real-estate-agent-hand-giving-house-keys-house-buyer.jpg');
  background-size: cover;
  background-position: center;
}

.i1 p {
  position: relative;
  z-index: 1;
  color:#f1f1f1;
  font-size: 3em;
  font-family: fontMedium;
}

.i1 p::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 38px;
  height: 10px;
  background: linear-gradient(90deg, rgba(83,70,130,1) 35%, rgba(27,176,194,1) 100%);
}

/* Estilos del section: Misión Visión */

.container .misionVision{
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
}

.misionVision__info--mision img, .misionVision__info--vision img{
  width: 100%;
  height: 350px;
}

.misionVision__info--mision {
  display: grid;
  padding: 0;
  padding-right: 20px;
  height: 70%;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: ". title"
                       ". content"
                       "img1 img1";
}

.misionVision__info--vision {
  display: grid;
  padding: 0;
  padding-left: 20px;
  height: 70%;
  grid-template-columns: 8fr 2fr;
  grid-template-areas: "title ."
                       "content ."
                       "img2 img2";
}
.misionVision__title {
  grid-area: title;
}

.misionVision h2 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-family: fontMedium;
  margin: 0;
  margin-bottom: 20px;
}

.misionVision h2::before {
  width: 35px;
  height: 6px;
  top: 0;
}

.misionVision .misionVision__texto {
  grid-area: content;
  width: 85%;
  font-size: 2rem;
  line-height: 30px;
  margin-bottom: 70px;
}

.misionVision__Img--mision{
  grid-area: img1;
}

.misionVision__Img--vision{
  grid-area: img2;
}

.misionVision__info--vision {
  display: grid;
  grid-template-columns: 1fr 100px;
}

/* agregando estilos del footer  */
footer {
  width: 100%;
  height: 40vh;

}
.footer {
  background: rgba(83,70,130,1);
  height: calc(40vh - 30px);
}
.footer2 {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #f1f1f1;
  font-family: fontExtraLight;
  justify-content: center;
  background-color:  #1bb0c2;
  background-image:
    linear-gradient(to left, #534682, #1bb0c2 30%);
}

/* estilos de la seccion contactanos */
.contact {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.contact__img {
  background: url('../img/pexels-trang-doan-1024248.jpg') no-repeat;
  background-size: 150%;
  background-position: 50% 65%;
  height: 200px;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact__button--img {
  position: relative;
  width: 280px;
  height: 280px;

  background: url('../img/icono_contacto.png')no-repeat center;
  background-size: cover;
}

.contact__button--text {
  position: absolute;
  width: 280px;
  height: 280px;
  background: url('../img/icono_palabras.png')no-repeat center;
  background-size: cover;
  animation-name: spin1;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.contact__info {
  display: grid;
  max-width: 350px;
  grid-template-rows: 1fr 1fr 1fr;
}

.contact__info--number {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info--email {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info--address {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info span {
  font-size: 2rem;
  letter-spacing: 1px;
  color:#534682;
  font-family: fontLight;
}

.contact__info i {
  display: block;
  justify-self: center;
}
.icon-number {
  width: 30px;
  height: 30px;
  background: url('../img/iconos_teléfono.png') no-repeat center;
  background-size: contain;
}

.icon-email {
  width: 43px;
  height: 30px;
  background: url('../img/iconos_correo.png') no-repeat center;
  background-size: contain;
}

.icon-address {
  width: 25px;
  height: 34px;
  background: url('../img/iconos_ubicación.png') no-repeat center;
  background-size: contain;
}

/* estilos de la seccion menu footer */
.footer__grid {
  width: 80%;
  height: 30vh;
  padding: 60px 0px 40px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: 14fr 6fr;
  grid-template-areas: "menu social"
                       "description description";
}
.footer__menu {
  grid-area: menu;
  margin-left: -47px;
}
.footer__menu-main {
  width: max-content;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 200px);
}

.footer__menu--item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: ". item ."
                       ". submenu submenu";
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.footer__menu--item a {
  grid-area: item;
  font-family: fontLight;
  color:white;
  text-decoration: none;

}

.footer__menu-main .footer__menu--item:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: 0;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:
  linear-gradient(to top, #534682, #1bb0c2 80%);
}

.footer__menu--item .footer__submenu {
  margin-top: 10px;
  list-style: none;
  align-items: flex-start;
  font-family: fontExtraLight;
  font-size: 1.4rem;
  text-align: start;
}

.footer__social {
  grid-area: social;
  padding-left: 30px;
}
.footer__submenu {
  grid-area: submenu;
}
.footer__social--logo {
  width:270px;
  height: 65px;
  background: url('../img/Logotipo-02.png') no-repeat center;
  background-size: cover;
}

.footer__social--redes {
  width: 170px;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}
.footer__social--redes i{
  font-size: 3.5em;
  color: #f1f1f1;
}

.footer__description {
  font-family: fontExtraLight;
  font-size: .9rem;
  margin-top: 20px;
  color: #fafbfd;
  grid-area: description;
}

.footer__description::before {
  content: "";
  display: block;
  margin-bottom: 15px;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(to left,#534682, #1bb0c2 80%);
}
