<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/transparencia.css">
  <title>Transparencia</title>
</head>
<body>
  <header>
    <nav class="header" id="menu_navbar">
      <div class="logo-white" id="logo_white">
        <img src="img/Logotipo-04.png" alt="" class="logotipo" id="logotipo_white">
      </div>
      <ul class="header--menu-main">
        <li class="menu-item"><a href="">Conócenos</a></li>
        <li class="menu-item"><a href="">Productos</a>
          <ul class="submenu">
            <li><a href="">Ahorros</a></li>
            <li><a href="">Créditos personales</a></li>
            <li><a href="">Crédito pyme</a></li>
            <li><a href="">Crédito con garantía</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="">Alianzas</a>
          <ul class="submenu">
            <li><a href="">Euroidiomas</a></li>
            <li><a href="">Huampaní</a></li>
            <li><a href="">Cruz del sur</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="">Transparencia</a>
          <ul class="submenu">
            <li><a href="">Tablas</a></li>
            <li><a href="">Tarifarios</a></li>
            <li><a href="">Libro de sugerencias</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="">Contáctanos</a></li>
      </ul>
  </nav>
  </header>
  <main>
    <section class="hero-transparencia">
      <div class="hero-transparencia__img"></div>
    </section>
    <section class="documents">
      <div class="documents__container">
        <h2 class="documents__title bkg2">Somos transparentes contigo,<br> por ello, queremos darte acceso a todos nuestros documentos y tarifarios.<br> Puedes descargarlos y revisarlos cuidadosamente</h2>
        <p class="documents__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
          diam nonummy nibh euismod ncidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci taon ullamcor</p>
        <div class="documents__items">
          <div class="documents__item">
            <span class="documents__title bkg1">
              Cómo protegemos tus datos
            </span>
            <div class="documents__buttons">
              <a href="">ver más</a>
              <a href="">descargar</a>
            </div>
          </div>
          <div class="documents__item">
            <span class="documents__title bkg2">
              Responsabilidad social
            </span>
            <div class="documents__buttons">
              <a href="">ver más</a>
              <a href="">descargar</a>
            </div>
          </div>
          <div class="documents__item">
            <span class="documents__title bkg2">
              Tarifario
            </span>
            <div class="documents__buttons">
              <a href="">ver más</a>
              <a href="">descargar</a>
            </div>
          </div>
          <div class="documents__item">
            <span class="documents__title bkg1">
              Formularios
            </span>
            <div class="documents__buttons">
              <a href="">ver más</a>
              <a href="">descargar</a>
            </div>
          </div>
          <div class="documents__item">
            <span class="documents__title bkg1">
              Transparencia de información
            </span>
            <div class="documents__buttons">
              <a href="">ver más</a>
              <a href="">descargar</a>
            </div>
          </div>
          <p class="documents__item--parrafo">*Todos los archivos están disponibles para ser descargados en
            formato PDF, también para ser visualizados de manera online
            en una pestaña agregada en tu navegador.</p>
        </div>
      </div>
    </section>
    <section class="tarifarios1">
      <div class="tarifarios1__container">
        <h2 class="documents__title bkg2">
          Tarifarios de tasas pasivas, <br><span>persona natural.</span>
        </h2>
        <div class="tarifario1__table">
          <h3>
            DEPÓSITO A PLAZO FIJO-MONEDA NACIONAL (T.R.E.A)
          </h3>
          <table>
            <thead class="tarifario1__subtitle">
              <th>Plazos</th>
              <th>500-19,999</th>
              <th>20,000-49,999</th>
              <th>50,000 a más</th>
            </thead>
            <tbody>
              <tr>
                <td>90 días</td>
                <td>4.50 %</td>
                <td>5.00 %</td>
                <td>5.50 %</td>
              </tr>
              <tr>
                <td>180 días</td>
                <td>6.00 %</td>
                <td>6.50 %</td>
                <td>7.00 %</td>
              </tr>
              <tr>
                <td>360 días</td>
                <td>7.50 %</td>
                <td>8.50 %</td>
                <td>9.00 %</td>
              </tr>
              <tr>
                <td>540 días</td>
                <td>8.00 %</td>
                <td>9.00 %</td>
                <td>9.50 %</td>
              </tr>
              <tr>
                <td>720 días</td>
                <td>8.50 %</td>
                <td>9.50 %</td>
                <td>10.00%</td>
              </tr>
              <tr>
                <td>1080 días</td>
                <td>9.00 %</td>
                <td>10.00 %</td>
                <td>10.50 %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tarifarios1__container">
        <h2 class="documents__title bkg2">
          Tarifarios de tasas pasivas, <br><span>persona natural.</span>
        </h2>
        <div class="tarifario1__table table2">
          <h3>
            CANCELACIÓN ANTICIPADA
          </h3>
          <table>
            <thead class="tarifario1__subtitle">
              <th>Plazo transcurrido</th>
              <th>Tasa por cancelación anticipada</th>
            </thead>
            <tbody>
              <tr>
                <td>Antes de 30 días</td>
                <td>No genera intereses</td>
              </tr>
              <tr>
                <td>De 31 a 180 días</td>
                <td>Se pagará la tasa de 1.50 T.R.E.A.</td>
              </tr>
              <tr>
                <td>De 181 A 359 días</td>
                <td>Se pagará la tasa de 3.00 T.R.E.A.</td>
              </tr>
              <tr>
                <td>De 360 días a más</td>
                <td>Se pagará la tasa de 4.50 T.R.E.A.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="tarifarios1__parrafo">*No captamos recursos del público, solo operamos con nuestros socios. Estamos inscritos en el Registro Nacional de COOPAC, bajo el número
          000442-2019-REG.COOPAC-SBS. Estamos regulados y supervisados por la Superintendencia de Banca, Seguros y AFP (SBS).
        </p>
        <h2 class="documents__title bkg2">
          ¿Tuviste algún problema? <br>Déjanos los siguientes datos, y con seguridad resolveremos cualquier inconveniente.
        </h2>
      </div>
    </section>
    <section class="reclamaciones">
      <div class="reclamaciones__container">
        <h2 class="reclamaciones__title">
          Libro de reclamaciones
        </h2>
        <form action="" class="reclamaciones__form">
          <div class="reclamaciones__items">
            <label for="">Tipo de documento:</label>
            <select placeholder="D.N.I">
              <option value="D.N.I">D.N.I</option>
              <option value="D.N.I">D.N.I</option>
              <option value="D.N.I">D.N.I</option>
            </select>
          </div>
          <div class="reclamaciones__items">
            <label for="">Número de documento:</label>
            <input type="number" placeholder="Número de documento">
          </div>
          <div class="reclamaciones__items">
            <label for="">Nombre o razón social:</label>
            <input type="text" placeholder="Nombre">
          </div>
          <div class="reclamaciones__items">
            <label for="">Dirección:</label>
            <input type="text" placeholder="Dirección">
          </div>
          <div class="reclamaciones__items">
            <label for="">Teléfono de contacto:</label>
            <input type="number" placeholder="Teléfono de contacto">
          </div>
          <div class="reclamaciones__items">
            <label for="">Email:</label>
            <input type="email" placeholder="Email">
          </div>
          <div class="reclamaciones__items">
            <label for="">Producto:</label>
            <input type="text" placeholder="Plazo fijo">
          </div>
          <div class="reclamaciones__items">
            <label for="">Canal de respuesta:</label>
            <input type="email" placeholder="Correo electrónico">
          </div>
          <div class="reclamaciones__items">
            <label for="">Tipo:</label>
            <input type="text" placeholder="Reclamo">
          </div>
          <div class="reclamaciones__items">
            <label for="">Tema:</label>
            <input type="text" placeholder="Ahorros">
          </div>
          <div class="reclamaciones__items">
            <label for="">Moneda:</label>
            <input type="text" placeholder="S/.">
          </div>
          <div class="reclamaciones__items">
            <label for="">Importe:</label>
            <input type="number" placeholder="000">
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer></footer>
</body>
</html>