@font-face {
    font-family: fontBold;
    src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Black.otf);
}

@font-face {
    font-family: font;
    src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Regular.otf);
}

@font-face {
    font-family: fontMedium;
    src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Medium.otf);
}

@font-face {
    font-family: fontLight;
    src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    font-family: font;
    width: 100vw;
    min-height: 100vh;
}

.container {
    margin: 150px 100px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-grid;
    z-index: 2;
    transition: scroll 0.4s ease;
}

.top-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding: 10px 100px;
}

.logo {
    width: 100%;
}

.logo-white {
    width: 100%;
    display: none;
}

.logotipo {
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: left;
    float: left;
}

.search-custom {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 3px;
    margin: auto;
    border-radius: 6px;
    background-color: white;
}

.search-custom button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    outline: none;
}

.search-custom button:hover {
    border: 0;
    box-shadow: none;
}

.search {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    box-shadow: none;
    outline: none;
}

.nav-links {
    width: 100%;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    float: right;
}

.nav-links div .btn-link {
    background-color: #1ab3c3;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin: auto;
    font-size: 16px;
}

.menu-navbar {
    width: 100%;
    display: flex;
    padding: 7px 0;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(275deg, rgba(83, 70, 130, 1) 0%, rgba(26, 177, 194, 1) 26%);
    padding: 10px 100px;
    transition: scroll 0.4s ease;
}

.menu-navbar ul {
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    display: flex;
}

.menu-navbar ul li {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.menu-navbar li:not(:first-child):before {
    content: "|";
    margin-right: 20px;
}

.menu-navbar li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
}

.menu-navbar li a:hover {
    color: white;
    padding: 1px;
    box-shadow: 0px 2px #ffffff;
    cursor: pointer;
}

#navbar {
    width: 100%;
    text-align: center;
    align-items: center;
}

/*------------------------------
        SLIDER OF SERVICES
--------------------------------*/

.content-slides {
    width: 100%;
}

.slider {
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 80px;
}

slide-list {
    display: inline;
}

.slide {
    display: flex;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
}

.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inidicators {
    display: grid;
    grid-template-columns: auto;
}

.inidicators .indicator {
    height: 13px;
    width: 13px;
    padding: 0;
    background-color: rgb(146, 145, 145);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.inidicators .active {
    background-color: rgb(73, 73, 73);
}

.inidicators .indicator:hover .active {
    background-color: rgb(73, 73, 73);
}

.slider ul li {
    height: 15px;
    width: 15px;
    background-color: rgb(146, 145, 145);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.slider ul li:hover {
    background-color: rgb(73, 73, 73);
}

.slider ul .active {
    background-color: rgb(73, 73, 73);
}

.image {
    grid-area: image;
    position: relative;
    width: max-content;
    font-size: 36rem;
    line-height: 50rem;
    font-weight: 700;
}

.image h1 {
    position: relative;
    cursor: default;
    font-family: fontBold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(15, 67, 73, 0.424);
    background-repeat: no-repeat;
}

.bkg1 h1 {
    background-image: url('../img/nuestrosServicios1.jpg');
    background-size: 160%;
    background-position: right;
}

.bkg2 h1 {
    background-image: url('../img/pexels-fauxels-3184292.jpg');
    background-size: 200%;
    background-position: right;
}

.bkg3 h1 {
    background-image: url('../img/beautiful-female-women-driver-sitting-her-vehicle-holding-car-keys-ready-drive.jpg');
    background-size: cover;
    background-position: center;
}

.description {
    grid-area: description;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h2 {
    width: max-content;
    position: relative;
    font-size: 5rem;
    line-height: 60px;
    letter-spacing: 2px;
    background-clip: text;
    margin-bottom: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.description h2::before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: -20px;
    width: 90px;
    height: 8px;
    background: linear-gradient(275deg, rgba(83, 70, 130, 1) 35%, rgba(27, 176, 194, 1) 100%);
}

.description span {
    width: max-content;
    font-size: 3rem;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(275deg, rgba(83, 70, 130, 1) 0%, rgba(26, 177, 194, 1) 26%);
}

.description p {
    width: 100%;
    font-family: fontLight;
    color: #4d4d4d;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2rem;
}

.description a {
    width: max-content;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 2rem;
    color: #f1f1f1;
    border-radius: 5px;
    background: #534784;
}