.header--menu-main {
  display: none;
}

.menu--icon {
  display: block;
}

/* seccion nuestros servicios */

.footer__grid {
  grid-template-columns: 100%;
  grid-template-areas: "menu"
                       "social"
                       "description";
  justify-items: center;
  row-gap: 10px;
}
.footer__social {
  padding: 0px;
}
.footer__social--redes {
  justify-content: space-evenly;
}

.footer__menu {
  width: 100%;
}
.footer__menu-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.footer__menu-main a {
  margin: 10px 0px;
}

.footer__menu--item {
  text-align: start;
  font-size: 2.8rem;
  letter-spacing: 1px;
  grid-template-columns: 100%;
  grid-template-areas: "item"
                       "submenu";
  justify-content: flex-start;
}
.footer__menu-main .footer__menu--item:not(:first-child)::before{
  display: none;
}

.footer__menu-main .footer__menu--item>a::after{
  content: "";
  display: block;
  bottom: 0;
  margin-top: 5px;
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(to left, #534682, #1bb0c2 80%);
}


.footer__menu--item .footer__submenu {
  font-size: 2rem;
}
.footer__description {
  font-size: 1.6rem;
}

.header1--logo {
  object-fit: cover;
}
.header1--inputs {
  justify-content: flex-end;
}

.header1--search {
  display: none;
}
.header1--button {
  width: 50%;
  margin-left: 10px;
  height: 20px;
}

.header1--button a {
  font-size: 1.4rem;
}

/* seccion contacto */

.contact {
  grid-template-columns: 100%;
  grid-template-areas: "button"
                       "info"
                       "img";
  justify-content: center;
  row-gap: 20px;
}
.contact__img {
  grid-area: img;
}
.contact__button--text {
  width: 200px;
  height: 200px;
}

.contact__button--img {
  width: 200px;
  height: 200px;
}

.contact__button {
  grid-area: button;

}

.contact__info {
  grid-area: info;
  margin: auto;
}

.contact__info span {
  font-size: 2.4rem;
}

/* seccion noticias */

.noticias .entradas {
  grid-template: 3fr 2fr/ 10fr 5fr 5fr;
  grid-template-areas: "i1 i1 i4"
                       "i2 i3 i3";
}

.i2 {
  background-position: 50% 70%;
}
.i1 {
  padding: 10px 10px;
}
.i1 p {
  font-size: 1.8rem;
}
.i1 p::before {
  bottom: -5px;
  width: 20px;
  height: 5px;
}

/* seccion servicios */
.servicios__main {
  grid-template-columns: 0rem auto;
  position: relative;
}
.servicios {
  grid-template: 10% 40% 40%/ 100%;
  justify-items: center;
  margin: auto;
  grid-template-areas: "description"
                        "image"
                        "description2";
}
.description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description1 h2 {
  max-width: max-content;
}
.image {
  font-size: 45rem;
}

.inidicators {
  position: absolute;
  top: 25%;
  left: 100px;
}

.inidicators .indicator {
  width: 7px;
  height: 7px;
  margin: 2px;
}
.description2 p{
  width: 100%;
  font-size: 2.4rem;
}
.description2 span {
  margin-bottom: 0px;
}

/* seccion hero */

.hero--container-content p::before {
  width: 200px;
}

.pyme {
  grid-template: 250px repeat(5,auto)/ 10% 10% 70% 10%;
  grid-template-areas: ". indicators imagen imagen"
                       ". title title ."
                       ". description description ."
                       ". terminos terminos ."
                       ". detalle detalle ."
                       ". lista lista ."
                       ". reqdetalle reqdetalle ."
                       ". reqlista reqlista .";
}
.beneficios__title.description2 {
  margin-top: 0;
  margin-bottom: 10px;
  align-items: flex-start;
}

.beneficios__description {
  margin-bottom: 0;
}
.inidicators__productos {
  flex-direction: column;
}

.beneficios__detalle {
  margin-top: 50px;
  margin-bottom: 10px;
}

.requisitos__detalle {
  margin-bottom: 10px;
}

.requisitos__lista {
  line-height: 3.6rem;
}
.terminos {
  flex-direction: column;
}

.terminos__text {
  align-self: start;
  margin-top: 10px;
}

.beneficios__lista {
  line-height: 3.6rem;
  margin-bottom: 10px;
}
.inidicators__productos .Productos {
  width: 8px;
  height: 8px;
}

.credito {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 90deg, rgba(27, 176, 194, 1) 60%, rgba(83, 70, 130, 1) 120% );
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.testimonio {
  flex-direction: column;
}

.testimonio__informacion {
  width: 100%;
}

.testimonio__img {
  width: 100%;
}

.conocenos {
  flex-direction: column;
  margin-bottom: 50px;
}

.conocenos__container {
  height: calc(200vh);
  flex-direction: column;
}

.conocenos__img {
  width: 100%;
  height: 60%;
}

.conocenos__info {
  width: 100%;
  margin-bottom: 30px;
}

.container .misionVision {
  flex-direction: column;
}

.misionVision__info--mision {
  grid-template-columns: 10% 80% 10%;
  row-gap: 20px;
  grid-template-areas: ". title ."
                      ". content ."
                      "img1 img1 img1";
  padding-right: 0;
  margin-bottom: 50px;
}

.misionVision__info--vision {
  grid-template-columns: 10% 80% 10%;
  row-gap: 20px;
  grid-template-areas: ". title ."
                      ". content ."
                      "img2 img2 img2";
  padding-left: 0;
}

.description .conocenos__texto {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.misionVision .misionVision__texto {
  font-size: 3rem;
}