.header1--logo {
  width: 100px;
  height: 25px;
}

.header1--button a{
 font-size: 1rem;
}

.logotipo {
  width: 100px;
  height: 25px;
}

.header--container {
  height: 50.1562px;
}

.noticias .entradas {
  min-height: 300px;
}
.description1 h2 {
  font-size: 3.8rem;
}
.description1 h2::before {
  width: 50px;
  height: 5px;
  top:-10px;
}
.inidicators {
  left: 0;
}
.hero--container {
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 65%;
  margin-top: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero--box {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  margin: 0;
}

.hero--container-title {
  margin-bottom: 50px;
  font-size: 4rem;
  line-height: normal;
}

.hero--container-content p {
  font-size: 4rem;
}

/* seccion productos */
.pyme {
  flex-direction: column;
}

.beneficios {
  order: 2;
  width:100%;
}

.requisitos {
  order:1;
  width: 100%;
}

/* seccion transparencia */
.documents__container {
  grid-template-areas:
        "title title"
        "parrafo parrafo"
        "items items";
}
.hero-transparencia {
  height: 50vh;
}

.documents__items {
  grid-template-columns: 100%;
}

.reclamaciones__form {
  grid-template-columns: 100%;
}

.table2 {
  width: 100%;
}


.img--mision {
  background-size: contain;
  height: 200px;
}

.img--vision {
  background-size: contain;
  height: 200px;
}



.misionVision h2 {
  margin-bottom: 0px;
}

.conocenos__info .description h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.conocenos__info {
  padding-top: 30px;
}