.header1--logo {
  width: 100px;
  height: 25px;
}

.header1--button a{
 font-size: 1rem;
}

.logotipo {
  width: 100px;
  height: 25px;
}

.header--container {
  height: 50.1562px;
}

.noticias .entradas {
  min-height: 300px;
}
.description1 h2 {
  font-size: 3.8rem;
}
.description1 h2::before {
  width: 50px;
  height: 5px;
  top:-10px;
}
.inidicators {
  left: 0;
}
.hero--container {
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 65%;
  margin-top: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero--box {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  margin: 0;
}

.hero--container-title {
  margin-bottom: 50px;
  font-size: 4rem;
  line-height: normal;
}

.hero--container-content p {
  font-size: 4rem;
}