@font-face {
  font-family: fontBold;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Black.otf);
}

@font-face {
  font-family: font;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Regular.otf);
}

@font-face {
  font-family: fontMedium;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Medium.otf);
}

@font-face {
  font-family: fontLight;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-Light.otf);
}

@font-face {
  font-family: fontExtraLight;
  src: url(../fonts/Adlinnaka/OTF/Adlinnaka-UltraLight.otf);
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  font-family: font;
  width: 100%;
  min-height: 100vh;
}

/* ANIMACIÓN DE FONDO */

#particles-js {
  height: 100vh;
  width: 100%;
  margin-top: 150px;
  position: fixed;
  z-index: -1;
}

/* ANIMACIÓN DE FONDO */

header {
  /* colocar position fixed: */
  /* Se coloco z index para que se encuentre sobre los elementos */
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  font-family: fontLight;
}

.header1 {
  transition: all 0.5s;
}

.header1 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
  list-style: none;
}

.header1--logo {
  grid-area: logo;
  width: 180px;
  height: 45px;
  background: url('../img/Logotipo-1.png') no-repeat;
  background-size: cover;
}

.header1--inputs {
  display: flex;
  width: 60%;
}

.header1--search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 33px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.fa-search {
  font-size: 1.5rem;
}

.header1--search input {
  width: 100%;
  border: none;
  outline: none;
}

.header1--button {
  grid-area: button;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ab3c4;
  height: 33px;
  border-radius: 5px;
  margin-left: 20px;
}

.header1--button a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.8rem;
}

.operations {
  grid-area: operations;
  width: 40%;
  margin-left: 20px;
}

.header a {
  text-decoration: none;
  color: #f1f1f1;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(275deg, rgba(83, 70, 130, 1) 0%, rgba(26, 177, 194, 1) 26%);
}

.header--menu-main {
  height: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  padding: 2px 0px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  transition: all .5s;
}

.header--container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header li {
  position: relative;
  margin-left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.menu-item:not(:first-child):before {
  content: "|";
  margin-right: 20px;
}

.logo-white {
  width: 100%;
  display: none;
}

.logotipo {
  width: 180px;
  height: auto;
}

.menu--icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

/* estilos del submenu */

.submenu {
  position: absolute;
  width: 300px;
  top: 30px;
  display: flex;
  flex-direction: column;
  display: block;
  background: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(26, 177, 194, 1) 26%);
  list-style: none;
  display: none;
}

.submenu li {
  padding: 8px;
  margin-left: 8px;
  height: 35px;
  font-family: fontLight;
}

/* .header li a:hover {
  background-color: rgba(0, 0, 0, .3);
} */

.submenu li a {
  padding-left: 15px;
}

.submenu li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  height: 1px;
  background: linear-gradient(313deg, rgba(255, 255, 255, 0.19931722689075626) 0%, rgba(255, 255, 255, 1) 100%);
}

/* visualizacion del submenu */

li:hover>ul {
  display: block;
  z-index: 999999;
}

/* estilos del hero */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 55%;
}

.hero__img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.hero__img {
  min-width: 100vw;
  height: 100%;
}

.hero1 {
  background: url(../img/hero.jpg) no-repeat;
  background-size: cover;
}

.hero2 {
  background: url(../img/traffic-vehicle-urban-reflections-city.jpg) no-repeat;
  background-size: cover;
}

.hero3 {
  background: url(../img/pexels-juan-salamanca-61136.jpg) no-repeat;
  background-size: cover;
}

.hero--box {
  width: 70%;
  margin: 0px auto;
  margin-top: 60px;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.hero--container-title {
  position: relative;
  font-size: 5rem;
  font-weight: 400;
  line-height: 60px;
  color: white;
  z-index: 1;
}

.hero--container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--container-content p {
  position: relative;
  color: white;
  font-size: 5rem;
  font-family: fontMedium;
  line-height: 40px;
  z-index: 1;
}

.hero--container-content p::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: -25px;
  width: 90px;
  height: 8px;
  background: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.hero--container-content p::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 250px;
  height: 8px;
  background: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.hero--container-content .content-description {
  font-family: fontLight;
  font-size: 3.4rem;
}

.title-bold {
  font-weight: 700;
}

.container {
  width: 100%;
}

.hero--container-button {
  width: max-content;
  position: relative;
  font-size: 1.8rem;
  padding: 5px 10px;
  margin-top: 40px;
  border-radius: 5px;
  color: #573c3c;
  text-decoration: none;
  z-index: 1;
  background: white;
}

/* estilos de la seccion servicios */

.servicios__main {
  width: 80%;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-areas: "indicators servicios";
  justify-items: center;
  align-items: center;
  margin: 60px auto;
}

.servicios {
  display: none;
  grid-area: servicios;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image description" "image description2";
  column-gap: 20px;
}

.inidicators {
  grid-area: indicators;
  display: grid;
  grid-template-columns: auto;
}

.inidicators--alianzas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  padding-right: 50px;
  height: 50px;
}
.inidicators .indicator, .inidicators--alianzas .Alianzas {
  height: 13px;
  width: 13px;
  padding: 0;
  background-color: rgb(146, 145, 145);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.inidicators .active,  .inidicators--alianzas .active{
  background-color: rgb(73, 73, 73);
}

.inidicators .indicator:hover .active,.inidicators--alianzas .indicator:hover .active{
  background-color: rgb(73, 73, 73);
}

.image {
  grid-area: image;
  position: relative;
  height: 530px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.bkg1 {
  background-image: url('../img/PNG\ C_Mujer\ maravilla.png');

}

.bkg2 {
  background-image: url('../img/PNG\ C_Crédito\ MICROPYME.png');
}

.bkg3 {
  background-image: url('../img/PNG\ C_Crédito\ vehicular.png');
}

.bkg4 {
  background-image: url('../img/PNG\ C_Depósito\ a\ plazo\ fijo.png');
}

.bkg5 {
  background-image: url('../img/PNG\ C_Convenios.png');
}

.bkg6 {
  background-image: url('../img/PNG\ C_Crédito\ remodelación.png');
}

.bkg7 {
  background-image: url('../img/PNG\ C_Garantía\ de\ inmueble.png');
}

.description {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description1 {
  grid-area: description;
}

.description2 {
  grid-area: description2;
}

.description1 h2 {
  width: max-content;
  max-width: 300px;
  position: relative;
  font-size: 5rem;
  line-height: 50px;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.description1 h2::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: -20px;
  width: 90px;
  height: 8px;
  background: linear-gradient(275deg, rgba(83, 70, 130, 1) 35%, rgba(27, 176, 194, 1) 100%);
}

.description h2 {
  width: max-content;
  position: relative;
  font-size: 5rem;
  line-height: 65px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.description h2::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: -20px;
  width: 90px;
  height: 8px;
  background: linear-gradient(275deg, rgba(83, 70, 130, 1) 35%, rgba(27, 176, 194, 1) 100%);
}

.description__conocenos h2::before {
  top: -10px;
}

.description .services {
  font-size: 5rem;
  font-family: fontMedium;
  background-image: linear-gradient(90deg, rgba(83, 70, 130, 1) 0%, rgba(27, 176, 194, 1) 100%);
}

.description2 span {
  width: 100%;
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(275deg, rgba(83, 70, 130, 1) 0%, rgba(26, 177, 194, 1) 26%);
}

.description2 p {
  width: 70%;
  font-family: fontLight;
  color: #4d4d4d;
  margin: 30px 0px 50px 0px;
  font-size: 1.8rem;
}

.description2 a {
  width: max-content;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 1.8rem;
  color: #f1f1f1;
  border-radius: 5px;
  background: #534784;
}

/* Estilos del section: conocenos */

.conocenos__img img {
  width: 250px;
}

.conocenos {
  width: 80%;
  color:#4d4d4d;
  margin: auto;
  margin-top: 50px;
  height: 80%;
}

.conocenos__container {
  height: calc(100vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conocenos__info {
  width: 50%;
  height: 80%;
}

.conocenos__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img1 img2" "img3 img3" "img4 img5";
  width: 50%;
  height: 80%;
}

.img1 {
  grid-area: img1;
  background: url('../img/1.png');
  background-size: cover;
}

.img2 {
  grid-area: img2;
  background: url('../img/2.png');
  background-size: cover;
}

.img3 {
  grid-area: img3;
  background: url('../img/3.png');
  background-size: cover;
  background-position: center;
}

.img4 {
  grid-area: img4;
  background: url('../img/4.png');
  background-size: cover;
}

.img5 {
  grid-area: img5;
  background: url('../img/5.png');
  background-size: cover;
}

.conocenos .description {
  min-width: 100%;
}

.conocenos__info .description {
  width: 100%;
  height: 100%;
}

.conocenos .description h2 {
  line-height: normal;
  font-family: fontMedium;
  font-size: 7rem;
}

.description .conocenos__texto {
  min-width: 100%;
  height: auto;
  overflow-y: scroll;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 40px;
  padding-right: 30px;
}

.noticias {
  width: 80%;
  margin: 150px auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "description" "entradas";
}

.noticias .description {
  width: 100%;
  height: 100px;
  flex-direction: row;
}

.noticias .description h2 {
  margin-bottom: 0px;
}

.noticias .entradas {
  grid-area: entradas;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "i1 i2 i4" "i1 i3 i4";
  height: 40vh;
  min-height: 450px;
}

.entradas__img {}

.i1 {
  position: relative;
  grid-area: i1;
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  padding: 30px 35px;
  background: url('../img/NOTICIAS\ 1.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  transition: all 2s;
}

.i2 {
  position: relative;
  grid-area: i2;
  background: url('../img/NOTICIAS\ 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.i3 {
  position: relative;
  grid-area: i3;
  background: url('../img/NOTICIAS\ 3.png');
  background-size: cover;
}

.i4 {
  position: relative;
  grid-area: i4;
  background: url('../img/NOTICIAS\ 4.png');
  background-size: cover;
  background-position: center;
}

.i1 p {
  position: relative;
  z-index: 1;
  color: #f1f1f1;
  font-size: 3.4em;
  font-family: fontMedium;
}

.i1 p::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 38px;
  height: 10px;
  background: linear-gradient(90deg, rgba(83, 70, 130, 1) 35%, rgba(27, 176, 194, 1) 100%);
}

.entradas__img:not(:first-child)::before {
  content: "";
  background: url('../img/trespuntos.png') no-repeat;
  background-position: center;
  background-size: 50%;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 1s ease;
}

.entradas__img:hover:not(:first-child)::before {
  background-size: 60%;
}



/* Estilos del section: Misión Visión */

.container .misionVision {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

/* .misionVision__info--mision img, .misionVision__info--vision img{
  width: 100%;
  height: 350px;
} */

.misionVision__info--mision {
  display: grid;
  padding: 0;
  padding-right: 20px;
  height: 70%;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto 200px auto;
  grid-template-areas: ". title" 
                      ". content" 
                      "img1 img1";
}

.misionVision__info--vision {
  display: grid;
  padding: 0;
  padding-left: 20px;
  height: 70%;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: auto 200px auto;
  grid-template-areas: "title ." 
                      "content ." 
                      "img2 img2";
}

.misionVision__title {
  grid-area: title;
}

.misionVision h2 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-family: fontMedium;
  margin: 0;
  margin-bottom: 20px;
}

.misionVision h2::before {
  width: 35px;
  height: 6px;
  top: 0;
}

.misionVision .misionVision__texto {
  grid-area: content;
  color:#4d4d4d;
  width: 90%;
  font-size: 1.8rem;
  line-height: 30px;
  margin-bottom: 50px;
}

.img--mision {
  background: url("../img/MISIÓN.png") no-repeat;
  background-size: cover;
  background-position: 40% 10%;
  height: 400px;
}

.img--vision {
  background: url("../img/VISIÓN.png") no-repeat;
  background-size: cover;
  background-position: 40% 10%;
  height: 400px;
}

.misionVision__Img--mision {
  grid-area: img1;
}

.misionVision__Img--vision {
  grid-area: img2;
}

.misionVision__info--vision {
  display: grid;
  grid-template-columns: 1fr 100px;
}

/* agregando estilos del footer  */

footer {
  width: 100%;
}

.footer {
  background: rgba(83, 70, 130, 1);
  height: auto;
}

.footer2 {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #f1f1f1;
  font-family: fontExtraLight;
  justify-content: center;
  background-color: #1bb0c2;
  background-image: linear-gradient(to left, #534682, #1bb0c2 30%);
}

.footer2 span {
  font-size: 1.4rem;
}

/* estilos de la seccion contactanos */

.contact {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.contact__img {
  background: url('../img/pexels-trang-doan-1024248.jpg') no-repeat;
  background-size: 150%;
  background-position: 50% 65%;
  height: 200px;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__button--img {
  position: relative;
  width: 280px;
  height: 280px;
  background: url('../img/icono_contacto.png')no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.contact__button--text {
  position: absolute;
  width: 280px;
  height: 280px;
  background: url('../img/icono_palabras.png')no-repeat center;
  background-size: cover;
  animation-name: spin1;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.contact__info {
  display: grid;
  max-width: 350px;
  grid-template-rows: 1fr 1fr 1fr;
}

.contact__info--number {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info--email {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info--address {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.contact__info span {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #534682;
  font-family: fontLight;
}

.contact__info i {
  display: block;
  justify-self: center;
}

.icon-number {
  width: 30px;
  height: 30px;
  background: url('../img/iconos_teléfono.png') no-repeat center;
  background-size: contain;
}

.icon-email {
  width: 43px;
  height: 30px;
  background: url('../img/iconos_correo.png') no-repeat center;
  background-size: contain;
}

.icon-address {
  width: 25px;
  height: 34px;
  background: url('../img/iconos_ubicación.png') no-repeat center;
  background-size: contain;
}

/* estilos de la seccion menu footer */

.footer__grid {
  width: 80%;
  padding: 60px 0px 40px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "menu social" "description description";
}

.footer__menu {
  grid-area: menu;
}

.footer__menu-main {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 20%);
}

.footer__menu--item {
  position: relative;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: ". item ." ". submenu submenu";
  text-align: start;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.footer__menu--item a {
  grid-area: item;
  font-family: fontLight;
  color: white;
  text-decoration: none;
}

.footer__menu-main .footer__menu--item:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: 0;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #534682, #1bb0c2 80%);
}

.footer__menu--item .footer__submenu {
  margin-top: 10px;
  list-style: none;
  align-items: flex-start;
  font-family: fontExtraLight;
  font-size: 1.4rem;
  text-align: start;
}

.footer__social {
  grid-area: social;
  padding-left: 30px;
}

.footer__submenu {
  grid-area: submenu;
}

.footer__social--logo {
  width: 270px;
  height: 65px;
  background: url('../img/Logotipo-02.png') no-repeat center;
  background-size: cover;
}

.footer__social--redes {
  width: 170px;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}

.footer__social--redes i {
  font-size: 3.5em;
  color: #f1f1f1;
}

.footer__description {
  font-family: fontExtraLight;
  font-size: .9rem;
  margin-top: 20px;
  color: #fafbfd;
  grid-area: description;
}

.footer__description::before {
  content: "";
  display: block;
  margin-bottom: 15px;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(to left, #534682, #1bb0c2 80%);
}

/* Inicio estilos Nuestras Alianzas - Euroidiomas */
.section--alianza {
  display: flex;
}

.title--alianza {
  margin: 15px 150px;
  
}

.title--alianza h2 {
  font-size: 6rem;
}

.info--beneficios {
  width: 75%;
  margin-top: 50px;
  font-size: 2rem;
  line-height: 40px;
  color: #4d4d4d;
}

.icon-euroidiomas {
  width: 25px;
  height: 34px;
  background-color: red;
}

.footer__euroidiomas--logo {
  width: 380px;
  height: 65px;
  background: url("../img/logo/logo_euroidiomas.png") no-repeat center;
  background-size: cover;
  margin: 52.5px 0px 92.5px 0px;
}

.alianza--img {
  display: flex;
  margin: 120px 0;
  flex-wrap: wrap;
}

.alianzas--title {
  width: 50%;
  padding: 0px 60px 0px 0px;
}

.inidicators--alianzas {

}
.alianzas--beneficios {
  width: 50%;
}
.img--alianzas--container {
  width: 100%;
  overflow: hidden;
}
.img--container {
  width: 100%;
  display: flex;
  height: 350px;
}

.img--alianzas {
  background: url("../img/Euroidiomas_1.png") no-repeat;
}

.img--alianzas01 {
  background: url("../img/Euroidiomas_2.png") no-repeat;
}

.img--alianzas02 {
  background: url("../img/Euroidiomas_3.png") no-repeat;
}

/* Fin de estilos Nuestras Alianzas - Euroidiomas */

/* Inicio estilos Nuestras Alianzas - Cruz del sur */

.img--cruzSur {
  background: url("../img/Cruzdelsur_1.png") no-repeat;
}

.img--cruzSur--container {
  width: 100%;
  display: flex;
  height: 350px;
}

.footer__cruzSur--logo {
  width: 380px;
  height: 65px;
  background: url("../img/logo/logo_cruzdelsur.png") no-repeat center;
  background-size: 90%;
  margin: 52.5px 0px 92.5px 0px;
}

.img--cruzSur01 {
  background: url("../img/Cruzdelsur_2.png") no-repeat;
}

.img--cruzSur02 {
  background: url("../img/Cruzdelsur_3.png") no-repeat;
}

/* Fin de estilos Nuestras Alianzas - Cruz del sur */

/* Inicio estilos Nuestras Alianzas - Huampani */

.img--huampani {
  background: url("../img/Huampaní_1.png") no-repeat;
}

.img--huampani--container {
  width: 100%;
  display: flex;
  height: 350px;
}

.footer__huampani--logo {
  width: 380px;
  height: 65px;
  background: url("../img/logo/logo_huampaní.png") no-repeat center;
  background-size: 80%;
  margin: 52.5px 0px 92.5px 0px;
}

.img--huampani01 {
  background: url("../img/Huampaní_2.png") no-repeat;
}

.img--huampani02 {
  background: url("../img/Huampaní_3.png") no-repeat;
}

.alianzas--img--slides {
  background-size: cover;
  background-position: 40% 10%;
  min-width: 100%;
}

.alianzas--container {
  position:relative;
  margin: 80px 0;
}

/* SECCION PRODUCTOS */

/* Estilos del section: pyme */

.credito {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(27, 176, 194, 1) 60%,
    rgba(83, 70, 130, 1) 120%
  );
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.productos {
  margin-bottom: 100px;
  margin-top: 54.156px;
}

.pyme {
  position: relative;
  width: 100%;
  display: grid;
  grid-template: 30% 25% 10% 25% 10% / 10% 40% 40% 10%;
  grid-template-areas: ". title imagen imagen"
                       ". description imagen imagen"
                       ". detalle reqdetalle ."
                       ". lista reqlista ."
                       ". indicators terminos .";
  margin: 0 auto;
}

.beneficios__title {
  grid-area: title;
  margin-top: 50px;
  margin-bottom: 30px;
}

.beneficios__title .beneficios__subtitle {
  font-size: 4rem;
}

.beneficios__description {
  grid-area: description;
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 30px;
  line-height: 2.8rem;
  width: 95%;
}
.beneficios__detalle {
  grid-area: detalle;
  font-size: 2.8rem;
  color: rgba(27, 176, 194, 1);
}

.beneficios__lista {
  grid-area: lista;
  font-size: 2rem;
  color: #4d4d4d;
  line-height: 2.8rem;
}
.requisitos__detalle {
  font-size: 2.8rem;
  color: rgba(27, 176, 194, 1);
}

/**/

.req__img {
  background: url(../img/Servicio1_.png) no-repeat;
}

.req__img2 {
  background: url(../img/Servicio2_.png) no-repeat;
}
.req__img3 {
  background: url(../img/Servicio3.png) no-repeat;
  
}
.req__img4 {
  background: url(../img/Servicio4_.png) no-repeat;
}

.req__img5 {
  background: url(../img/Servicio5_.png) no-repeat;
}
.req__img6 {
  background: url(../img/Servicio6_.png) no-repeat;
  
}
.req__img7 {
  background: url(../img/Servicio7.png) no-repeat;
}

.requisitos__img {
  grid-area: imagen;
  background-size: cover;
  background-position: 50%;
  align-self: center;
  height: 80%;
  width: 100%;
  margin: 0 auto;
}
.requisitos__description {
  grid-area: reqdescription;
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 30px;
}
.requisitos__detalle {
  grid-area: reqdetalle;
}

.requisitos__lista {
  grid-area: reqlista;
  font-size: 2rem;
  color: #4d4d4d;
  line-height: 3rem;
}
.requisitos__detalle {
  font-size: 2.8rem;
  color: rgba(27, 176, 194, 1);
}

.btn__beneficios {
  display: flex;
}

.terminos {
  grid-area: terminos;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.terminos__text {
  font-size: 2rem;
  color: rgba(83, 70, 130, 1);
  text-decoration: none;
}

.inidicators__productos {
  grid-area: indicators;
  display: flex;
  position:relative;
  z-index: 1;
  width: 50%;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.inidicators__productos .indicator {
  height: 13px;
  width: 13px;
  padding: 0;
  background-color: rgb(146, 145, 145);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.inidicators__productos .active {
  background-color: rgb(73, 73, 73);
}

.inidicators__productos .indicator:hover .active {
  background-color: rgb(73, 73, 73);
}

/* Fin de estilos pyme */

/* Estilos del section: testimonio */

.testimonio {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 50px;
}

.testimonio__principal {
  margin-top: 40px;
  display: flex;
  margin-bottom: 30px;
}
.testimonio__informacion {
  width: 50%;
}

.testimonio__title h3 {
  color: rgba(27, 176, 194, 1);
  font-size: 3rem;
  letter-spacing: 1px;
}

.testimonio__imagen-container {
  width: 170px;
  display: flex;
  justify-content: center;
}

.testimonio__imagen {
  width: 130px;
  height: 130px;
  background-color: rgb(73, 73, 73);
  border-radius: 50%;
  background: url("../img/FOTO_PERFIL.png");
  background-size: cover;
  background-position: center;
}

.datos__text {
  margin-left: 50px;
}
.testimonio__datos {
  font-size: 2rem;
  color: #4d4d4d;
  line-height: 2.8rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonio__text {
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 30px;
  line-height: 3.2rem;
  width: 100%;
}
.beneficios__detalle {
  font-size: 2.8rem;
  color: rgba(27, 176, 194, 1);
}

.requisitos__detalle {
  font-size: 2.8rem;
  color: rgba(27, 176, 194, 1);
}

/**/

.testimonio__img {
  width: 50%;
  height: 500px;
}

.testimonio__imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "testimonio__img1 testimonio__img1"
    "testimonio__img2 testimonio__img3";
  width: 100%;
  height: 100%;
}

.testimonio__img1 {
  grid-area: testimonio__img1;
  background: url("../img/testimonios1.png");
  background-size: cover;
  background-position: center;
}
.testimonio__img2 {
  grid-area: testimonio__img2;
  background: url("../img/testimonios2.png");
  background-size: cover;
}
.testimonio__img3 {
  grid-area: testimonio__img3;
  background: url("../img/testimonios3.png");
  background-size: cover;
}

/* Fin de estilos testimonio */